* {
    font-family: "Arial", Times, serif;
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}
h1 {
    text-align: center;
    margin: 30px;
}

h2 { 
    text-align: center;
    width: 40%;
    border-style: solid;
    border: 1px solid black;
    position: absolute;
    right: -1px;
}

#box {
    overflow: auto;
}

.title1 h2 {
    background-color: #ff9999;
}
.title2 h2 {
    background-color: #ff1a1a;
}
.title3 h2 {
    background-color: #ffcc66;
}

.content {
    background-color: #a9a9a9;
    border: 1px solid black;
    margin: 0px 15px 30px 15px; 
    position: relative;
    height: auto;
}

p {
    padding: 15px;
    padding-top: 40px;

} 

/* General Responsive Layout */
.row {
    width: 100%;
    margin: 0%;
    padding: 15px;
}

/* Computer devices */
@media (min-width: 992px) {
    .col-lg-4{
      width: 33.33%;
      float: left;
    }
    
}
  
/* Tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
      width: 50%;
      float: left;
    }
    .col-md-12{
      width: 100%;
      float: left;
    }  
}

/* Mobile devices */
@media (max-width: 767px) {
    .content {
      width: 95%;
    }
}